@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  p {
    @apply text-[15px] font-[300] md:text-[16px];
  }
  h1 {
    @apply text-[12px] md:text-[16px];
  }
  h2 {
    @apply text-left text-[32px] font-[600];
  }
  h3 {
    @apply text-[16px] font-[700] md:text-[21px];
  }
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

body {
  font-family: theme('fontFamily.main');
  /* background-color: theme('colors.theme'); */
}
